.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 75px;
}

.main h1 {
  text-align: left;
  padding: 20px;
}

@media screen and (max-width: 450px) {
  .main {
    margin: 0 0 100px 0;
  }
}
