.link {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px 0;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

.link:hover {
  color: orangered;
}
