.mainMovie {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  width: calc(100% - 40px);
  padding: 20px;
  margin-top: 75px;
}

.controls {
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  box-shadow: 5px 5px 10px #00000017;
}

.controls button {
  padding: 0;
  text-transform: uppercase;
  border: none;
  background: none;
}
.controls button:hover {
  text-decoration: underline;
  border: none;
}

.controls button + svg {
  width: 25px;
  height: 40px;
  color: #a3a3a38c;
}

.favactive {
  color: red !important;
}

.detailsWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.posterSVG {
  width: 360px;
  height: auto;
  margin-right: 30px;
  border-radius: 10px;
  color: #98342f17;
}

.moviePoster {
  width: 360px;
  height: auto;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #0000004f;
}

.mainMovie h2 {
  font-size: 40px;
  margin: 0;
  line-height: 1;
}

.mainMovie h4 {
  font-size: 30px;
  margin: 0;
  margin-top: 40px;
}

.movieDescription {
  max-width: 60%;
  text-align: left;
  border-bottom: 1px solid #999;
}

.movieDescription span {
  display: inline-block;
  margin: 20px 20px 0 0;
}

.movieDescription p {
  margin: 20px 0;
}

.genresBox {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.genresBox p {
  font-size: 15px;
  padding-right: 10px;
  margin: 5px 0;
  margin-right: 10px;
  line-height: 1.2;
  border-right: 1px solid #999;
}

.genresBox p:last-child {
  padding-right: 0;
  border-right: none;
}

.addInfo {
  width: 100%;
}

.addInfo h4 {
  text-align: left;
}

.addInfo ul {
  width: fit-content;
  display: flex;
  list-style-type: none;
  margin: 20px 0;
  padding: 20px;
  text-align: left;
  font-size: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  box-shadow: 5px 5px 10px #00000017;
}

.addInfo > ul li {
  margin-right: 20px;
}

.addInfo ul li a {
  color: var(--color-link);
}

.addInfo ul a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
}

.active:focus {
  color: var(--color-active);
}

@media screen and (max-width: 450px) {
  .controls {
    width: 100%;
  }
  .moviePoster {
    width: 100%;
  }

  .mainMovie {
    margin: 0 0 100px 0;
  }
  .mainMovie h2 {
    margin: 20px 0 0 0;
  }
  .movieDescription {
    max-width: 100%;
  }

  .addInfo ul {
    width: 100%;
  }
  .addInfo ul li a {
    font-size: 18px;
  }
}
