.mainMovie {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 60px);
  padding: 30px;
}

.moviePoster {
  width: 300px;
  height: auto;
  margin-right: 30px;
  border-radius: 10px;
}

.mainMovie h2 {
  font-size: 40px;
  margin: 0;
  line-height: 1;
}

.mainMovie h4 {
  font-size: 30px;
  margin: 0;
  margin-top: 40px;
}

.movieDescription {
  max-width: 70%;
  text-align: left;
  border-bottom: 1px solid #999;
}

.genresBox {
  display: flex;
}

.genresBox p {
  padding: 0 15px;
  border-left: 1px solid #999;
}

.genresBox p:first-child {
  padding-left: 0;
  border-left: none;
}

.addInfo {
  width: 100%;
}

.addInfo ul {
  list-style-type: none;
  margin: 50px 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
}

.addInfo ul a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  .moviePoster {
    width: 100%;
  }
  .mainMovie h2 {
    margin: 20px 0;
  }
  .movieDescription {
    max-width: 100%;
  }
}
