.moviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.moviesItem {
  width: 17%;
  display: flex;
  margin-bottom: 50px;
}

.moviesItem a {
  color: rgb(15, 31, 68);
}

.moviesItem a:hover {
  text-decoration: underline;
}

.moviePoster {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.movieTitle {
  font-size: 1.3rem;
  margin: 5px 0;
}

@media screen and (max-width: 450px) {
  .moviesList {
    padding: 0 30px;
  }
  .moviesItem {
    width: 100%;
  }

  .movieTitle {
    font-size: 30px;
    margin: 5px 0;
  }
}
