.reviews > p {
  text-align: left;
  font-size: 20px;
}

.reviews ul {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 20px;
}

.reviewsBox {
  width: 360px !important;
  grid-template-columns: 1fr !important;
}

.reviews ul li {
  padding: 20px;
  border: 1px solid #999;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 10px #0000004f;
}

.reviews ul li p {
  max-height: 290px;
  font-size: 18px;
  padding-bottom: 15px;
  overflow: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.reviews ul li p::-webkit-scrollbar {
  display: none;
}

.reviews ul li span {
  width: 90%;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  bottom: 9px;
  padding-top: 5px;
  background: #fff;
}

.reviewsAuthorBox {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
  background: #fff;
  overflow: hidden;
}

.authorAvatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

.reviewsAuthorBox svg {
  width: 40px;
  height: 40px;
}

.reviewsAuthorBox h6 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 0 10px;
}

@media screen and (max-width: 1024px) {
  .reviews ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .reviews ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .reviews ul {
    grid-template-columns: 1fr;
  }
  .reviewsBox {
    width: auto !important;
  }
  .reviewsAuthorBox h6 {
    font-size: 18px;
  }
}
