.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  z-index: 9999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 20px;
  margin-left: 20px;
  background: #fff;
  box-shadow: 5px 5px 10px #00000017;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
}

.title {
  margin: 0;
  font-size: 25px;
  padding: 0;
  padding-right: 20px;
  border: none;
  border-right: 1px solid #dddddd;
  box-shadow: none;
  border-radius: 0;
  color: var(--color-active);
  text-transform: uppercase;
}
.linkBox {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
}
.link {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 15px;
  padding: 10px 20px;
  color: var(--color-link);
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}
.link svg {
  font-size: 20px;
}

.link span {
  line-height: 1;
  padding-top: 2px;
  margin-left: 5px;
}

.active {
  color: var(--color-active);
}

.active:focus {
  color: var(--color-active);
}

.nav a:hover {
  color: var(--color-hover);
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  .header {
    justify-content: center;
    top: inherit;
    bottom: 1%;
  }
  .nav {
    justify-content: center;
    width: calc(60% - 40px);
    padding: 15px 20px;
    margin-left: 0;
    border-radius: 20px;
  }
  .title {
    display: none;
  }
  .link {
    border-radius: 17px;
    padding: 10px;
    margin: 0;
    box-shadow: 3px 5px 15px #00000038;
  }

  .link svg {
    font-size: 30px;
  }

  .linkBox {
    width: 100%;
  }

  .link svg {
    padding: 0;
  }

  .link span {
    display: none;
  }
}
