.castMoviesBox {
  width: calc(100% - 40px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.castMoviesBox ul {
  padding: 0;
}

/* .castMoviesBox ul {
  grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
} */

.castMoviesBox ul li img {
  height: auto;
}

.castMoviesBox ul li svg {
  height: 70%;
}

@media screen and (max-width: 450px) {
  .castMoviesBox ul {
    grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
  }
}
