.castMoviesBox {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.castMoviesBox ul {
  padding: 0;
}

.castMoviesBox ul li {
  width: 12%;
}

.castMoviesBox ul li img {
  height: auto;
}

.castMoviesBox ul li svg {
  height: 70%;
}

@media screen and (max-width: 450px) {
  .castMoviesBox ul li {
    width: 47%;
  }
}
