.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchCatsBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.cats {
  width: 75%;
  margin: 0 20px;
}

.cats ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cats ul li {
  margin-right: 20px;
}

.cats ul a {
  display: flex;
  align-items: center;
  height: 25px;
  color: #666cee;
  background: none;
  border-radius: 5px;
  transition: 0.3s;
  box-sizing: border-box;
}

.cats ul a:hover {
  color: #656cf6;
}

.active {
  color: brown !important;
}

@media screen and (max-width: 450px) {
  .cats {
    width: 100%;
    margin: 0 20px 20px;
  }
  .cats ul li {
    margin-right: 15px;
  }
}
