.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.searchCatsBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.cats {
  width: 70%;
  margin: 0 20px;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 15px;
}

.cats ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cats ul li {
  margin-right: 20px;
}

.cats ul a {
  display: flex;
  align-items: center;
  height: 25px;
  color: var(--color-link);
  background: none;
  border-radius: 5px;
  transition: 0.3s;
  box-sizing: border-box;
}

.cats ul a:hover {
  color: var(--color-hover);
}

.active {
  color: var(--color-active) !important;
}

.navPage button:hover {
  box-shadow: 3px 5px 15px #00000038;
}

@media screen and (max-width: 450px) {
  .main {
    margin: 0 0 100px 0;
  }
  .cats {
    width: 100%;
  }

  .cats ul {
    height: 85px;
    flex-direction: column;
    overflow: scroll;
  }
  .cats ul li {
    margin-right: 15px;
  }
}
