.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px 0;
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50px; */
  margin: 0 0 0 20px;
  padding: 10px 0;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #00000017;
}

.search input {
  width: 200px;
  height: 50px;
  padding-left: 20px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  border: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-radius: 15px 0 0 15px;
  color: var(--color-active);
}

.search input::placeholder {
  color: var(--color-link);
}

.search input:focus {
  border: none;
  outline: none;
}

.search button {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 0;
  background-color: #fff;
  border: none;
  border-left: 1px solid #ddd;
  font-size: 20px;
  padding: 0 20px;
  /* border-radius: 0 15px 15px 0; */
  transition: 0.3s;
}

.search button:focus {
  outline: none;
}

.search button svg {
  color: var(--color-active);
  transition: 0.3s;
}

.search button:hover svg {
  color: var(--color-hover);
  /* background-color: rgb(222, 241, 241); */
}

@media screen and (max-width: 450px) {
  .search {
    width: 100%;
  }
  .search form {
    width: 100%;
    margin: 0 20px;
  }

  .search input,
  .search input:focus {
    font-size: 18px;
    width: 100%;
  }

  .search .info {
    display: flex;
    justify-content: center;
    margin-left: 0;
    transform: translateX(0);
  }
}
