.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* width: 20%; */
  padding: 1rem 0;
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 20px;
  border: 1px solid #e1e1e1;
  border-radius: 15px;
}

.search input {
  width: 200px;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-radius: 15px 0 0 15px;
  color: var(--color-active);
}

.search input::placeholder {
  color: var(--color-link);
}

.search input:focus {
  border: none;
  outline: none;
}

.search button {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 0;
  background-color: #fff;
  border: none;
  border-left: 1px solid #e2e2e2;
  font-size: 20px;
  padding: 0 15px;
  border-radius: 0 15px 15px 0;
  transition: 0.3s;
}

.search button:focus {
  outline: none;
}

.search button svg {
  color: var(--color-active);
}

.search button:hover {
  background-color: rgb(222, 241, 241);
  border: none;
  border-left: 1px solid #e2e2e2;
}

@media screen and (max-width: 450px) {
  .search {
    width: 100%;
  }
  .search form {
    width: 100%;
  }

  .search input,
  .search input:focus {
    width: 100%;
  }

  .search .info {
    display: flex;
    justify-content: center;
    margin-left: 0;
    transform: translateX(0);
  }
}
