.cast ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.cast ul li svg {
  width: 100%;
  height: auto;
  color: #656cf630;
}

.castPoster {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.castTitle {
  width: 100px;
  text-align: center;
}
