.moviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
}

.moviesItem {
  width: 17%;
  display: flex;
  margin-bottom: 50px;
}

.moviesItem a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(15, 31, 68);
}

.moviesItem a:hover {
  text-decoration: underline;
}

.moviesItem a svg {
  width: 100%;
  height: 100%;
  color: #98342f17;
}

.moviePoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #0000004f;
}

.movieTitle {
  font-size: 1.3rem;
  margin: 5px 0;
}

@media screen and (max-width: 450px) {
  .moviesItem {
    width: 47%;
  }

  .movieTitle {
    font-size: 20px;
    margin: 5px 0;
  }
}
