.moviePoster {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #0000004f;
  transition: 0.3s;
}

.moviePoster:hover {
  box-shadow: 0 5px 30px #00000080;
}

.moviePosterWatched {
  filter: grayscale(1);
}

.iconsBox {
  display: flex;
  padding: 0 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #ffffffe5;
  border-radius: 0 10px 0 10px;
  overflow: hidden;
}

.rateBox,
.favHeart,
.watch {
  height: 20px !important;
  padding: 7px 4px;
}

.rateBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rateBox span {
  margin-top: 2px;
  margin-left: 4px;
  font-size: 16px;
  line-height: 1;
}

.rateNice,
.rateNorm,
.rateBad {
  width: 18px !important;
  height: 18px !important;
  margin: 0 !important;
  margin-top: -1px !important;
}

.favHeart {
  color: red !important;
}

.watch {
  color: black !important;
}

@media screen and (max-width: 450px) {
  .moviePoster {
    height: auto;
  }

  .rateBox,
  .favHeart,
  .watch {
    height: 15px !important;
    padding: 7px 4px;
  }

  .rateNice,
  .rateNorm,
  .rateBad {
    width: 15px !important;
    height: 15px !important;
  }
  .rateBox span {
    margin-left: 2px;
    font-size: 14px;
  }
}
