#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #ededed;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;

  /* --color-link: #f5b342;
  --color-active: #e5554d;
  --color-hover: #e5554d; */

  --color-link: #2d3033;
  --color-active: #aa4b41;
  --color-hover: #788c95;
}

/* Работает в Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-active) #ffffff;
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: rgb(171, 171, 171);
}

*::-webkit-scrollbar-thumb {
  width: 6px;
  height: 2px;
  background-color: var(--color-link);
  border-radius: 20px;
}
