:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hover);
  text-decoration: underline;
}

a:focus {
  color: brown;
  outline: none;
}

a:active {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 15px 20px;
  margin: 20px;
  font-size: 40px;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  box-shadow: 5px 5px 10px #00000017;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  color: var(--color-link);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: var(--color-hover);
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    width: 100%;
    font-size: 2rem;
  }
}
