.cast ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.cast > p {
  text-align: left;
  font-size: 20px;
}

.cast ul li {
  margin-right: 40px;
}

.cast ul li svg {
  width: 100px;
  height: auto;
  color: #656cf630;
}

.castPoster {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.castTitle {
  width: 100px;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  margin-top: 5px;
}

@media screen and (max-width: 450px) {
  .cast ul {
    justify-content: space-between;
  }

  .cast ul li {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .cast ul li svg {
    width: 90px;
  }
  .castPoster {
    width: 90px;
    height: 90px;
  }
}
