.cast ul {
  width: fit-content !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-start !important;
  gap: 20px;
  list-style-type: none;
}
.castBox {
  display: flex;
  align-items: center;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #00000017;
}
.cast > p {
  text-align: left;
  font-size: 20px;
}

.cast ul li svg {
  width: 100px;
  margin-right: 30px;
  height: auto;
  color: var(--color-hover);
}

.castPoster {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 10px;
}

.castNames {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.castNames p {
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}

.castTitle {
  text-align: center;
  line-height: 1.2;
  margin: 0;
  font-weight: 400;
  font-size: 20px !important;
  border-bottom: 1px solid #dfdfdf;
}

@media screen and (max-width: 450px) {
  .cast ul li {
    width: 100%;
  }

  .cast ul li svg {
    width: 45%;
  }
  .castNames {
    width: 55%;
  }
  .castPoster {
    width: 45%;
    height: 125px;
  }
}
