.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  position: relative;
  z-index: 999;
}

.main h1 {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: left;
  padding: 20px;
  margin-left: 0;
}

@media screen and (max-width: 450px) {
  .main {
    margin: 0 0 100px 0;
  }
  .main h1 {
    width: 100%;
    font-size: 24px;
  }
}
