.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main h1 {
  width: 100%;
  text-align: left;
  padding: 20px;
}

@media screen and (max-width: 450px) {
  .main h1 {
    font-size: 2.5rem;
  }
}
